# ===============================
# Environment files (Secrets)
# ===============================
.env
config.env

# ===============================
# Logs
# ===============================
logs/
*.log
status.txt

# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc

